body {
    background-color: #f5f8fa;
}

.card {
    border: none;
    border-radius: 1rem;
}

h3 {
    font-weight: 600;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
