<!-- users/templates/users/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Contraseña Restablecida{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow p-4 rounded-4 text-center">
            <h4 class="mb-3 text-success">¡Contraseña Restablecida!</h4>
            <p>Su contraseña ha sido cambiada correctamente.</p>
            <a href="{% url 'users:login' %}" class="btn btn-primary mt-3">Volver al inicio de sesión</a>
        </div>
    </div>
</div>
{% endblock %}
