<!-- users/templates/users/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow p-4 rounded-4">
            <h4 class="mb-3 text-center text-primary">Restablecer Contraseña</h4>
            <p class="text-center">Ingrese una nueva contraseña para su cuenta.</p>
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid mt-3">
                    <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
